alias cmt="git add -A && git commit -am"
alias gps="git push"
alias gpl="git pull"
alias p="sudo pacman"
alias h="history"
alias ls="ls -anh"
alias v="vim ."
alias c="clear"
alias ho="sudo vim /etc/hosts"
alias untar="tar -xvzf"
alias st="git status"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias gzunzip="tar -xf"
alias t='tail -f'
alias -g G='| grep'
alias ta='tmux attach -t'
alias tnew='tmux new -s'
alias tls='tmux ls'
alias tkill='tmux kill-session -t'
alias pwgen='openssl rand -base64 32'
s() { zsh ~/private/scripts/$1.zsh }
alias myip='wget http://checkip.dyndns.org/ -O - -o /dev/null | cut -d: -f 2 | cut -d\< -f 1'
