alias p="cd ~/p"
alias h="history"
alias ls="ls -anh"
alias v="vim ."
alias c="clear"
alias untar="tar -xvzf"
alias st="git status"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias g="open /Applications/Google\ Chrome.app/"
alias gca="git add -A . && git commit -m 'commit it' && git push"
alias cs="ssh root@s1.dnilabs.com"
alias cs2="ssh root@s2.dnilabs.com"
alias cs3="ssh root@s3.dnilabs.com"
alias q3="open ~/Applications/ioquake3/ioquake3-1.36.app"
alias ss="coffee server.coffee 1666"
alias dss="coffee --nodejs --debug-brk server.coffee 1666"
alias gzunzip="tar -xf"
alias t='tail -f'
alias -g G='| grep'
alias addssh='function _addssh(){ cat ~/.ssh/id_rsa.pub | ssh $1@$2 "cat - >> ~/.ssh/authorized_keys"; };_addssh'
alias clonedb='function _clonedb(){ ssh $1@$2 "mysqldump -u $3 -p$4 $5 > $5.sql && scp $5.sql dnilabs@office.dnilabs.com:/home/dnilabs/ && rm $5.sql" && mysql -u $6 -p$7 $5 < ~/$5.sql; }; _clonedb'
