[submodule ".vim/pack/dni/start/nerdtree"]
	path = .vim/pack/dni/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/dni/start/vim-coffee-script"]
	path = .vim/pack/dni/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/pack/dni/start/vim-colors-solarized"]
	path = .vim/pack/dni/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/dni/start/vim-less"]
	path = .vim/pack/dni/start/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/pack/dni/start/vim-commentary"]
	path = .vim/pack/dni/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/dni/start/vim-fugitive"]
	path = .vim/pack/dni/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/dni/start/syntastic"]
	path = .vim/pack/dni/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/pack/dni/start/vim-nerdtree_plugin_open"]
	path = .vim/pack/dni/start/vim-nerdtree_plugin_open
	url = https://github.com/aufgang001/vim-nerdtree_plugin_open.git
[submodule ".vim/pack/dni/start/vim-surround"]
	path = .vim/pack/dni/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/pack/dni/start/vim-autoclose"]
	path = .vim/pack/dni/start/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/pack/dni/start/vim-json"]
	path = .vim/pack/dni/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/pack/dni/start/vim-airline"]
	path = .vim/pack/dni/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/pack/dni/start/emmet-vim"]
	path = .vim/pack/dni/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/dni/start/vim-css3-syntax"]
	path = .vim/pack/dni/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/pack/dni/start/vim-indent-guides"]
	path = .vim/pack/dni/start/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/pack/dni/start/vim-javascript"]
	path = .vim/pack/dni/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/dni/start/vim-markdown"]
	path = .vim/pack/dni/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/pack/dni/start/molokai"]
	path = .vim/pack/dni/start/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/pack/dni/start/badwolf"]
	path = .vim/pack/dni/start/badwolf
	url = https://github.com/sjl/badwolf
[submodule ".vim/pack/dni/start/html5.vim"]
	path = .vim/pack/dni/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule ".vim/pack/dni/start/ctrlp.vim"]
	path = .vim/pack/dni/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/pack/dni/start/vim-syntax-shakespeare"]
	path = .vim/pack/dni/start/vim-syntax-shakespeare
	url = https://github.com/pbrisbin/vim-syntax-shakespeare
[submodule ".vim/pack/dni/start/vdebug"]
	path = .vim/pack/dni/start/vdebug
	url = https://github.com/vim-vdebug/vdebug
