[submodule ".vim/pack/dni/start/nerdtree"]
	path = .vim/pack/dni/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/dni/start/vim-commentary"]
	path = .vim/pack/dni/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/dni/start/vim-coffee-script"]
	path = .vim/pack/dni/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/pack/dni/start/vim-less"]
	path = .vim/pack/dni/start/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/pack/dni/start/vim-fugitive"]
	path = .vim/pack/dni/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/dni/start/vim-surround"]
	path = .vim/pack/dni/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/pack/dni/start/vim-json"]
	path = .vim/pack/dni/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/pack/dni/start/vim-airline"]
	path = .vim/pack/dni/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/pack/dni/start/emmet-vim"]
	path = .vim/pack/dni/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/dni/start/vim-javascript"]
	path = .vim/pack/dni/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/dni/start/vim-markdown"]
	path = .vim/pack/dni/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/pack/dni/start/molokai"]
	path = .vim/pack/dni/start/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/pack/dni/start/html5.vim"]
	path = .vim/pack/dni/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule ".vim/pack/dni/start/ctrlp.vim"]
	path = .vim/pack/dni/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/pack/dni/start/vdebug"]
	path = .vim/pack/dni/start/vdebug
	url = https://github.com/vim-vdebug/vdebug
[submodule ".vim/pack/dni/start/rust.vim"]
	path = .vim/pack/dni/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/plugins/tagbar"]
	path = .vim/pack/plugins/tagbar
	url = https://github.com/preservim/tagbar
[submodule ".vim/pack/dni/start/python-syntax"]
	path = .vim/pack/dni/start/python-syntax
	url = https://github.com/vim-python/python-syntax
