alias p="cd ~/p"
alias h="history"
alias ls="ls -an"
alias v="vim ."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias g="open /Applications/Google\ Chrome.app/"
alias gca="git add -A && git commit -m 'commit it' && git push"
alias cs="ssh root@dnilabs.com"
