alias p="cd ~/p"
alias h="history"
alias ls="ls -an"
alias v="vim ."
alias c="clear"
alias untar="tar xfvz"
alias st="git status"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias g="open /Applications/Google\ Chrome.app/"
alias gca="git add -A . && git commit -m 'commit it' && git push"
alias cs="ssh root@s1.dnilabs.com"
alias cs2="ssh root@s2.dnilabs.com"
alias q3="open ~/Applications/ioquake3/ioquake3-1.36.app"
alias ss="coffee server.coffee 1666"
